@import "tailwindcss";

@theme {
  --color-primary: #ffd700;
  --color-primary-dark: #b8860b;
  --color-primary-light: #ffeb3b;

  --color-dark: #1a1a1a;
  --color-dark-lighter: #2d2d2d;
  --color-dark-light: #3d3d3d;

  --breakpoint-500px: 500px;
}

@layer base {
  body {
    @apply text-gray-100 bg-dark 2xl:max-w-screen-2xl 2xl:mx-auto;
  }

  button {
    @apply cursor-pointer;
  }
}